<!DOCTYPE html>
<html>
<head>
    <title>Cat Search</title>
    <style>
        body {
            text-align: center;
        }
        form {
            margin: 0 auto;
            width: 300px;
        }
    </style>
</head>

{% if source %}
{% raw %}
{# Key: SCDmeansSuperCatsDominate #}
{% endraw %}
{% endif %}

<body>
    {% if source %}
        {% raw %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endraw %}
    {% else %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    {% endif %}
    <form method="POST">
        {% if source %}
        {% raw %}
        {{ form.csrf_token }}
        Enter a string to search<br>
        (Ex: try a number greater than or equal to 0) {{ form.search }}
        {% endraw %}
        {% else %}
        {{ form.csrf_token }}
        Enter a string to search<br>
        (Ex: try a number greater than or equal to 0) {{ form.search }}
        {% endif %}
        <input type="submit">
    </form>
</body>
</html>